@import "../../../styles/themes.scss";
@import "../../../styles/variables.scss";

.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 确保在所有元素上方 */
  padding-bottom: env(safe-area-inset-bottom); /* 适配iPhone底部安全区域 */
}

.tab-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  transition: all $transition-time ease;
  position: relative;

  &.active {
    .icon-wrapper {
      background-color: var(--svg-select-color);
      transform: scale(1.1);
    }

    .tab-text {
      font-weight: bold;
    }
  }
}

.icon-wrappe {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $transition-time ease;
  margin-bottom: 5px;
}

.tab-icon {
  width: 35px;
  height: 35px;
}

.tab-text {
  font-size: 20px;
  color: var(--text-color);
  font-family: var(--text-font-family);
}
